<% require 'templates/helper' %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><% title = "lulz lives"%><%= title %></title>
    <link href="/css/miniblu.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="container">
      <div class="center" style="background-color:#B7DBFF;">
        <a href="http://lulz.heroku.com" title="/" class="logo"><%= title %></a>
      </div>

      <% @quotes.each do |quote| %>
        <%
        month = quote.date[0..1]

        if month == "01"
        month = "GEN"
        elsif month == "02"
        month = "FEB"
        elsif month == "03"
        month = "MAR"
        elsif month == "04"
        month = "APR"
        elsif month == "05"
        month = "MAY"
        elsif month == "06"
        month = "JUN"
        elsif month == "07"
        month = "JUL"
        elsif month == "08"
        month = "AUG"
        elsif month == "09"
        month = "SEP"
        elsif month == "10"
        month = "OCT"
        elsif month == "11"
        month = "NOV"
        elsif month == "12"
        month = "DEC"
        end %>
        <div class="post">
          <div class="post_left">
            <span class="year"><%= quote.date[-4..-1] %></span><br>
            <span class="day"><%= quote.date[3..4] %></span><br>
            <span class="month"><%= month %></span>
          </div>
          <div class="post_right">
            <span class="quote_left">&ldquo;</span><span class="quote"><%= quote.body %></span><span class="quote_right">&rdquo;</span><br>
            <span class="author">~<%= quote.source %></span>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
  </body>
</html>
