<% require 'templates/helper' %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><% title = "lulz lives"%><%= title %></title>
    <link href="/css/miniblu.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="container">
      <div class="center" style="background-color:#B7DBFF;">
        <a href="http://lulz.heroku.com" title="/" class="logo"><%= title %></a>
      </div>

      <% @quotes.each do |quote| %>
        <div class="post">
          <div class="post_left">
            <span class="year"><%= quote.date[-4..-1] %></span><br>
            <span class="day"><%= quote.date[3..4] %></span><br>
            <span class="month"><% Hai.cmonth %><%= month %></span>
          </div>
          <div class="post_right">
            <span class="quote_left">&ldquo;</span><span class="quote"><%= quote.body %></span><span class="quote_right">&rdquo;</span><br>
            <span class="author">~<%= quote.source %></span>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
  </body>
</html>
